<h2>Our Presence</h2>
<div class="row">
  <div class="col-12 col-md-4 location" id="melbourne">
    <div class="title">Melbourne</div>
    <div class="contact">melbourne@applemoss.com</div>
  </div>
  <div class="col-12 col-md-4 location" id="riyadh">
    <div class="title">Riyadh</div>
    <div class="contact">riyadh@applemoss.com</div>
  </div>
  <div class="col-12 col-md-4 location" id="dubai">
    <div class="title">Dubai</div>
    <div class="contact">dubai@applemoss.com</div>
  </div>
</div>