<div id="whyus">
  <h2>Why us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto minima, non obcaecati odit porro praesentium quaerat reprehenderit sunt ullam? Aliquam consequatur, ea ipsum maiores quae ut. Dolorum, odio vitae!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto minima, non obcaecati odit porro praesentium quaerat reprehenderit sunt ullam? Aliquam consequatur, ea ipsum maiores quae ut. Dolorum, odio vitae!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto minima, non obcaecati odit porro praesentium quaerat reprehenderit sunt ullam? Aliquam consequatur, ea ipsum maiores quae ut. Dolorum, odio vitae!</p>
</div>